@charset "UTF-8";

.groups-container { width: 100%; }

.group {
    width: 100%;
    margin-bottom: 10px;

    border-radius: 5px;

    transition: all 1s ease-in-out;
}

.group.active {
    display: inline-block;

    border: 1px solid #eee;
}

.group.minimized {
    height: 50px;

    border: 0;
}

.tab {
    width: 100%;
    height: 50px;
    padding: 10px 15px;

    border: 1px solid #eee;

    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.group.minimized .tab {
    border-radius: 5px;

    background: #fff;
}

.group.active .tab {
    border-radius: 5px 5px 0 0;

    background: #eee;
}

.group.minimized .tab:hover { background: #eee; }

.tab > p {
    float: left;
    height: 26px;
    padding: 3px 0;

    color: #777;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
}

.tab > a {
    float: right; 
    height: 26px;
    padding: 3px 0;
    
    color: #777;
    font-weight: 300;
    font-size: 20px;
    text-align: right;

    transform: rotate(0);

    transition: all 0.2s ease-in-out;
}

.group.minimized .tab > a { transform: rotate(0deg); }
.group.active .tab > a { transform: rotate(-90deg); }

.group.active .content { padding: 10px; }
.group.minimized .content { display: none; }

.content .sub {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.content .sub:not(:last-child) { 
    padding-bottom: 10px; 

    border-bottom: 1px solid #eee;
}

.group-table-container {
    width: 100%;
    float: left;
}

.group-table-container:last-child { float: right; }

.group-table-container > p {
    color: #555;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}

.group-table-container .table-container {
    width: 100%;
    max-height: 200px;
    margin: auto;

    border: 1px solid #ddd;
    border-radius: 5px;

    overflow: auto;
    white-space: nowrap;
}

.group-poll-container {
    display: inline-block;
    width: 100%;
}

.group-poll-container > p {
    color: #555;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}

.group-poll-container .poll-container {
    height: 140px;
    width: 100%;
    
    overflow: auto;
    white-space: nowrap;
}

.poll-container .poll {
    position: relative;
    height: 120px;
    width: 200px;

    margin: 7.5px 0 7.5px 15px;

    padding: 10px;

    float: left;

    border-radius: 5px;

    background: #8a199e;
}

.poll > h4 {
    color: #fff;
    font-size: 18px;
}

.poll > p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.poll > a {
    position: absolute;
    bottom: 10px;
    right: 10px;

    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;

    opacity: 0.5;
}

.content-center-container {
    display: block;
    margin: auto;
}
