* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 0.5px;
}

/*                   Login form                    */

.login-form {
    width: 500px;
    height: 350px;
    padding: 50px;
    margin: 20px auto;
}

.login-form > label {
    width: 400px;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    display: block;
}

@media (max-width: 768px) {
    .login-content {
        width: 320px;
        height: 320px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        padding-top: 50px;
        margin: auto;
        background-color: white;
    }
}

