* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 0.5px;
}

/*      NAV    */
.nav-main {
    width: 100%;
    height: 140px;
    display: block;
    background-color: #222;
    border-bottom: 10px solid #810097;
}

.poll-panel .nav-main {
    border-bottom: 0px;
}

.nav-main-purple-cont {
    width: 100%;
    height: 40px;
    background-color: #810097;
    display: block;
}

.nav-container {
    width: 65%;
    height: 100px;
    display: block;
    margin: 0 17.5%;
}

.nav-logo-container {
    width: 225px;
    display: block;
    height: 60px;
    padding: 20px 0;
    margin: 0 auto;
}

.nav-logo-container > h1 {
    height: 30px;
    display: block;
    text-align: left;
    color: #fafafa;
    font-weight: 700; 
}

.nav-logo-container > h4 {
    height: 30px;
    display: block;
    text-align: center;
    color: #999;
}

.nav-logo-container > h4 {
    color: #999;
    letter-spacing: 2.2px;
    font-weight: 100;
    font-size: 1.3em;
    line-height: 1.5em;
}

.nav-logo-container > h1 {
    font-size: 2em;
    letter-spacing: 2.5px;
}

.nav-meny-container {
    width: 25%;
    display: block;
    margin-left: 25%;
    margin-top: 40px;
    height: 60px;
    float: right;
}

.nav-meny-container > a > li{
    width: 50%;
    display: block;
    height: 60px;
    float: left;
    color: #fff;
    text-align: center;
    line-height: 55px;
    transition: 0.3s background-color linear;
}

.nav-meny-container > a > li:active{
    background-color: #8a199e;
}
.nav-meny-container > a > li:hover{
    background-color: #8a199e;
}

.nav-meny-container > a > .active{
    background-color: #8a199e;
}


/*     LOGIN     */

.login-container {
    width: 400px;
    height: 380px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.login-content {
    background-color: #eee;
    width: 400px;
    height: 380px;
}

.login-content > h1 {
    width: 400px;
    padding: 40px 0;
    background-color: #eee;
    color: #111;
    text-align: center;
    display: block;
}

.login-content > input {
    color: #111;
    width: 80%;
    height: 30px;
    margin: 0 10%;
    margin-bottom: 45px;
    display: block;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid #8a199e;
    background-color: #eee;
}

.login-content > p {
    color: #111;
    margin-left: 10%;
    font-size: 17px;
}

#login-submit {
    width: 40%;
    height: 40px;
    margin: 20px 30%;
    border-bottom: 2px solid #8a199e;;
    background-color: #8a199e;;
    color: #fff;
    cursor: pointer;
}


/*    FORM     */


.poll-panel {
    width: 100%;
    height: 800px;
}

.poll-panel .form-wrapper {
    width: 65%;
    margin: 0 17.5%;
    height: 800px;
    display: block;
}

.poll-panel .form-left-divider {
    width: 3%;
    float: left;
    display: block;
    height: 70vh;
    margin: 0 1%;
    position: relative;
}

.poll-panel .form-left-divider > input{
    height: 100%;
    width: 100%;
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr; 
}

.poll-panel .form-right-divider {
    width: 95%;
    float: right;
    display: block;
}

.poll-panel .form-date-container {
    width: 100%;
    height: 50px;

}

.poll-panel .form-container {
    width: 100%;
    height: 750px;
}

.poll-panel .form-col-0 {
    width: 100%;
    height: 15%;
    margin: 2.5% 0;
}

.poll-panel .form-col-0 > h2{
    margin: 10px 0;
}

.poll-panel h2 {
    color: #810097;
}

.poll-panel .form-col-1 {
    width: 100%;
    height: 85%;
    margin: 2.5% 0;
}

.poll-panel .form-col-1-input {
    width: 25%;
    display: block;
    float: left;
    position: relative;
}

.poll-panel .form-col-1-input > label{
    font-size: 14px;
    /* position: absolute;
    display: block;
    top: 0;
    right: 0;
    */
}

.poll-panel input {
    border: 1px #999 solid;
    border-radius: 4px;
    color: #111;
    height: 30px;
    margin: 7px 0;
    width: 90%;
    padding: 0 7px;
}

.poll-panel output {
    display: block ;
    width: 5%;
    height: 40px;
    float: right;
    line-height: 43px;
    margin: 0 2.5%
}

.form-left-divider output{
    width: 31%;
    margin-right: 69%;  
    float: none;
    text-align: center;
    margin: 0;
    height: 60px;
    line-height: 100px
}

.date-wrapper {
    width: 60%;
    margin: 0 20%;
    height: 40px;
    display: block;
}

.date-wrapper span {
    color: #ff5cf4;
    font-size: 11px;
}
.poll-panel #date {
    width: 90px;
    margin: 5px 0;
    margin-left: 10px;
    color: #fff;
    border: 0px;
    background-color: #810097;  
}

.poll-panel select {
    border: 1px #999 solid;
    border-radius: 4px;
    color: #111;
    height: 30px;
    margin: 15px 0;
    width: 90%;
    padding: 0 7px;
    -webkit-appearance: none;
}

.poll-panel .form-col-2-input {
    display: inline-block;
    width: 100%;
    height: auto;
}

.poll-panel .form-col-2-input > select {
    width: 70%;
}

.poll-panel .form-col-2-input-divider {
    width: 50%;
    margin: 25px 0;
    float: left;
    display: block;
}

.poll-panel .form-input-textarea {
    width: 70%;
    margin-right: 30%;
    border: 1px #999 solid;
    border-radius: 3px;
    color: #111;
    height: 140px;
    resize: none;
}

.poll-panel .form-input-button {
    width: 32%;
    margin: 20px 34%;
    background-color: #8a199e;
    color: #fff;
    border: 0px;
    height: 35px;
    margin-bottom: 60px
}

.poll-panel .form-col-2-input-divider > input {
    width: 90%;
}

.poll-panel .form-col-2-input-divider > textarea {
    width: 90%;
    border: 1px #999 solid;
    border-radius: 3px;
    color:#111 ;
    height: 140px;
    resize: none;
    padding: 7px 8px;
}

.poll-panel input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 90%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    border: 0px;
    padding: 0;
    
  }
  
  .poll-panel input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  .poll-panel input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  .poll-panel input[type=range]::-ms-track {
    height: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
  .poll-panel input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 0.5px #999 solid ;
    margin-top: -3.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for Firefox */
  .poll-panel input[type=range]::-moz-range-thumb {
    height: 36px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 0.5px #999 solid ;
    margin-top: -3.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for IE */
  .poll-panel input[type=range]::-ms-thumb {
    height: 36px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 0.5px #999 solid ;
    margin-top: -3.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

  .poll-panel input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: 0.5px #999 solid ;
    background: -webkit-linear-gradient(left, #fff832 0%,#ff3535 100%); /* Chrome10-25,Safari5.1-6 */
  }
  
  .poll-panel input[type=range]:focus::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, #fff831 0%,#ff3530 100%); /* Chrome10-25,Safari5.1-6 */
    border: 0.5px #999 solid ;
  }

  
  .poll-panel input[type=range]::-moz-range-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: 0.5px #999 solid ;
    background: -moz-linear-gradient(left, #fff832 0%, #ff3535 100%); /* FF3.6-15 */
  }
  
  .poll-panel input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
    border: 0.5px #999 solid ;
  }
  .poll-panel input[type=range]::-ms-fill-lower {
    background: linear-gradient(to right, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(to right, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel input[type=range]::-ms-fill-upper {
    background: linear-gradient(to right, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(to right, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }




  /*     VERTICAL    */

  .poll-panel #verticalIdIn {
    transform: rotate(90deg);
    width: 600px;
    position: absolute;
    top: 47px;
    left: -297px;
  }
  
  .poll-panel input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 90%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    border: 0px;
    padding: 0;
    
  }
  
  .poll-panel input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  .poll-panel input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  .poll-panel input[type=range]::-ms-track {
    height: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
  .poll-panel input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 0.5px #999 solid ;
    margin-top: -3.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for Firefox */
  .poll-panel input[type=range]::-moz-range-thumb {
    height: 36px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 0.5px #999 solid ;
    margin-top: -3.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for IE */
  .poll-panel input[type=range]::-ms-thumb {
    height: 36px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 0.5px #999 solid ;
    margin-top: -3.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

  .poll-panel input[type=range]::-webkit-slider-runnable-track {
    width: 60vh;
    height: 30px;
    cursor: pointer;
    border: 0.5px #999 solid ;
    background: -webkit-linear-gradient(left, #fff832 0%,#ff3535 100%); /* Chrome10-25,Safari5.1-6 */
  }
  
  .poll-panel input[type=range]:focus::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, #fff831 0%,#ff3530 100%); /* Chrome10-25,Safari5.1-6 */
    border: 0.5px #999 solid ;
  }

  
  .poll-panel input[type=range]::-moz-range-track {
    width: 60vh;
    height: 30px;
    cursor: pointer;
    border: 0.5px #999 solid ;
    background: -moz-linear-gradient(left, #fff832 0%, #ff3535 100%); /* FF3.6-15 */
  }
  
  .poll-panel input[type=range]::-ms-track {
    width: 60vh;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
    border: 0.5px #999 solid ;
  }
  .poll-panel input[type=range]::-ms-fill-lower {
    background: linear-gradient(to right, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(to right, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel input[type=range]::-ms-fill-upper {
    background: linear-gradient(to right, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(to right, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  } 
  



@media (max-width: 1024px) {
    .poll-panel .form-wrapper {
        width: 80%;
        margin: 0 10%;
        height: 800px;
        display: block;
    }
}
@media (max-width: 768px) {
    .poll-panel .form-wrapper {
        width: 95%;
        margin: 0 2.5%;
        height: 800px;
        display: block;
    }
}