* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 0.5px;
}

/*      NAV    */
.nav-main {
    width: 100%;
    height: 100px;
    display: block;
    background-color: #8a199e;
    border-bottom: 10px solid #810097;
}

.admin-panel.nav-main {
    background-color: #222;
}

.nav-container {
    width: 65%;
    height: 100px;
    display: block;
    margin: 0 17.5%;
}

.nav-logo-container {
    width: 50%;
    display: block;
    height: 60px;
    margin: 20px 0;
    float: left;
}

.nav-logo-container > h1 {
    height: 30px;
    display: block;
    text-align: left;
    color: #fafafa;
    font-weight: 700; 
}

.nav-logo-container > h4 {
    height: 30px;
    display: block;
    text-align: left;
    color: #999;
}

.admin-panel .nav-logo-container > h4 {
    color: #8a199e;
    letter-spacing: 2.2px;
    font-weight: 100;
    font-size: 1.3em;
    line-height: 1.5em;
}

.admin-panel .nav-logo-container > h1 {
    font-size: 2em;
    letter-spacing: 2.5px;
}

.nav-meny-container {
    width: 25%;
    display: block;
    margin-left: 25%;
    margin-top: 40px;
    height: 60px;
    float: right;
}

.nav-meny-container > li{
    width: 50%;
    display: block;
    height: 60px;
    float: left;
    color: #fff;
    text-align: center;
    line-height: 55px;
    transition: 0.3s background-color linear;
}

.nav-meny-container > li:active{
    background-color: #8a199e;
}
.nav-meny-container > li:hover{
    background-color: #8a199e;
}

.nav-meny-container > .active{
    background-color: #8a199e;
}



/*     LOGIN     */

.login-container {
    width: 400px;
    height: 380px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.login-content {
    background-color: #eee;
    width: 400px;
    height: 380px;
}

.login-content > h1 {
    width: 400px;
    padding: 40px 0;
    background-color: #eee;
    color: #111;
    text-align: center;
    display: block;
}

.login-content > input {
    color: #111;
    width: 80%;
    height: 30px;
    margin: 0 10%;
    margin-bottom: 45px;
    display: block;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid #8a199e;
    background-color: #eee;
}

.login-content > p {
    color: #111;
    margin-left: 10%;
    font-size: 17px;
}

#login-submit {
    width: 40%;
    height: 40px;
    margin: 20px 30%;
    border-bottom: 2px solid #8a199e;;
    background-color: #8a199e;;
    color: #fff;
    cursor: pointer;
}


/*    FORM     */


.form-main {
    width: 100%;
    height: 800px;
}

.form-main .form-wrapper {
    width: 65%;
    margin: 0 17.5%;
    height: 800px;
    display: block;
}

.form-main .form-left-divider {
    width: 5%;
    float: left;
    display: block;
    height: 70vh;
}

.form-main .form-left-divider > input{
    height: 70vh;
    width: 70%;
    padding: 0 15%;
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr; 
}

.form-main .form-right-divider {
    width: 95%;
    float: right;
    display: block;
}

.form-main .form-date-container {
    width: 100%;
    height: 50px;

}

.form-main .form-container {
    width: 100%;
    height: 750px;
}

.form-main .form-col-0 {
    width: 100%;
    height: 15%;
    margin: 2.5% 0;
}

.form-main h2 {
    color: #810097;
}

.form-main .form-col-1 {
    width: 100%;
    height: 85%;
    margin: 2.5% 0;
}

.form-main .form-col-1-input {
    width: 33%;
    display: block;
    float: left;
}

.form-main input {
    border: 1px #111 solid;
    border-radius: 4px;
    color: #111;
    height: 30px;
    margin: 15px 0;
}

.form-main select {
    border: 1px #111 solid;
    border-radius: 4px;
    color: #111;
    height: 30px;
    margin: 15px 0;
    width: 90%;
}

.form-main .form-col-2-input > select {
    width: 70%;
}

.form-main .form-col-2-input-divider {
    width: 45%;
    margin: 30px 0;
    margin-right: 2.5%;
    float: left;
    display: block;
}

.form-main .form-input-textarea {
    width: 70%;
    margin-right: 30%;
    border: 1px #111 solid;
    border-radius: 3px;
    color: #111;
    height: 140px;
    resize: none;
}

.form-main .form-input-button {
    width: 32%;
    margin:0 34%;
    background-color: #8a199e;
    color: #fff;
    border: 0px;
    height: 35px;
}

.form-main .form-col-2-input-divider > input {
    width: 90%;
    margin-right: 10%;
}

.form-main .form-col-2-input-divider > textarea {
    width: 90%;
    margin-right: 10%;
    border: 1px #111 solid;
    border-radius: 3px;
    color: #111;
    height: 140px;
    resize: none;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 90%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    border: 0px;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 50px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 1px #000 solid ;
    margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    height: 50px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 1px #000 solid ;
    margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    height: 50px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 1px #000 solid ;
    margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #fff832 0%,#ff3535 100%); /* Chrome10-25,Safari5.1-6 */
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, #fff831 0%,#ff3530 100%); /* Chrome10-25,Safari5.1-6 */
  }

  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    background: -moz-linear-gradient(left, #fff832 0%, #ff3535 100%); /* FF3.6-15 */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: linear-gradient(to right, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(to right, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  input[type=range]::-ms-fill-upper {
    background: linear-gradient(to right, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(to right, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }