@charset "UTF-8";

 {
    width: 100%;
    height: 800px;
    background-color: #f9f9f9;
}

 .form-wrapper {
    width: 1024px;
    margin: 0 auto;
    height: 800px;
    display: block;
}

 .form-left-divider {
    width: 3%;
    float: left;
    display: block;
    height: 70vh;
    margin: 0 1%;
    position: relative;
}

 .form-left-divider > input{
    height: 100%;
    width: 100%;
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr; 
}

 .form-right-divider {
    width: 95%;
    float: right;
    display: block;
}

 .form-date-container {
    width: 100%;
    height: 50px;

}

 .form-container {
    width: 100%;
    height: 750px;
}

 .form-col-0 {
    width: 100%;
    height: 15%;
    margin: 2.5% 0;
}

 .form-col-0 > h2{
    margin: 10px 0;
}

 h2 {
    color: #810097;
}

 .form-col-1 {
    width: 100%;
    height: 85%;
    margin: 2.5% 0;
}

 .form-col-1-input {
    width: 25%;
    display: block;
    float: left;
    position: relative;
}

 .form-col-1-input > label{
    display: block;
    font-weight: bold;
    /* position: absolute;
    display: block;
    top: 0;
    right: 0;
    */
}

 input {
    border: 2px #c0c0c0 solid;
    border-radius: 5px;
    color: #6b6b6b;
    height: 30px;
    margin: 7px 0;
    width: 90%;
    padding: 0 7px;
    font-size: 17px;
    letter-spacing: 1px;
}

 output {
    display: block ;
    width: 6%;
    height: 30px;
    float: left;
    line-height: 30px;
    margin: 0 9.4%;
    color: #6b6b6b;
    text-align: center;
    margin-top: 7px;
    margin-left: 0.6%;
}

.form-left-divider output{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 41px;
    left: -11px; 
    float: none;
    margin: 0;
    line-height: 30px;
    border: 2px #c0c0c0 solid;
    border-radius: 5px;
    color: #6b6b6b;
    text-align: center;
}

.date-wrapper {
    width: 60%;
    margin: 0 20%;
    height: 40px;
    display: block;
}

.date-wrapper span {
    color: #ff5cf4;
    font-size: 12px;
}
 #date {
    width: 90px;
    margin: 5px 0;
    margin-left: 10px;
    color: #fff;
    border: 0px;
    background-color: #810097;  
    font-size: 10px;
    cursor: pointer;
}

 select {
    border: 2px #c0c0c0 solid;
    border-radius: 4px;
    color: #6b6b6b;
    height: 30px;
    margin: 15px 0;
    width: 90%;
    padding: 0 7px;
    -webkit-appearance: none;
    font-size: 13px;
}

 .form-col-2-input {
    display: inline-block;
    width: 100%;
    height: auto;
}

 .form-col-2-input > select {
    width: 70%;
}

 .form-col-2-input-divider {
    width: 50%;
    margin: 25px 0;
    float: left;
    display: block;
}

 .form-input-textarea {
    width: 70%;
    margin-right: 30%;
    border: 2px #c0c0c0 solid;
    border-radius: 5px;
    color: #6b6b6b;
    height: 140px;
    resize: none;
}

 .form-input-button {
    width: 32%;
    margin: 20px 34%;
    background-color: #8a199e;
    color: #fff;
    border: 0px;
    height: 35px;
    margin-bottom: 60px;
    font-size: 12px;
}

 .form-col-2-input-divider > input {
    width: 90%;
}

 .form-col-2-input-divider > textarea {
    width: 90%;
    border: 2px #c0c0c0 solid;
    border-radius: 4px;
    color: #6b6b6b;
    height: 140px;
    resize: none;
    padding: 7px 8px;
    font-size: 13px;
}

 
.poll-panel input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 82%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    border: 0px;
    padding: 0;
    
  }
  
  .poll-panel input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  .poll-panel input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  .poll-panel input[type=range]::-ms-track {
    height: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
  .poll-panel input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    
    543   
    margin-top: -3.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for Firefox */
  .poll-panel input[type=range]::-moz-range-thumb {
    height: 36px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 0.5px #999 solid ;
    margin-top: -3.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for IE */
  .poll-panel input[type=range]::-ms-thumb {
    height: 36px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 0.5px #999 solid ;
    margin-top: -3.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

  .poll-panel input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: 3px #c0c0c0 solid;
    border-radius: 2px;
    background: -webkit-linear-gradient(left, #fff832 0%,#ff3535 100%); /* Chrome10-25,Safari5.1-6 */
  }
  
  .poll-panel input[type=range]:focus::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, #fff831 0%,#ff3530 100%); /* Chrome10-25,Safari5.1-6 */
    border: 3px #c0c0c0 solid;
    border-radius: 2px;
  }

  
  .poll-panel input[type=range]::-moz-range-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: 3px #c0c0c0 solid;
    border-radius: 2px;
    background: -moz-linear-gradient(left, #fff832 0%, #ff3535 100%); /* FF3.6-15 */
  }
  
  .poll-panel input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
    border: 0.5px #999 solid ;
  }
  .poll-panel input[type=range]::-ms-fill-lower {
    background: linear-gradient(to left, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(to left, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel input[type=range]::-ms-fill-upper {
    background: linear-gradient(to left, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(to left, #fff832 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }

/*     ÅTGÄRDER  SLIDER    */
  .poll-panel .actionsColor input[type=range]::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, #fff832 0%,#32ff5e 100%); /* Chrome10-25,Safari5.1-6 */
  }
  
  .poll-panel .actionsColor input[type=range]:focus::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, #fff831 0%,#32ff5e 100%); /* Chrome10-25,Safari5.1-6 */
  }
  .poll-panel .actionsColor input[type=range]::-moz-range-track {
    background: -moz-linear-gradient(left, #fff832 0%, #32ff5e 100%); /* FF3.6-15 */
  }
  .poll-panel .actionsColor input[type=range]::-ms-fill-lower {
    background: linear-gradient(to left, #fff832 0%,#32ff5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel .actionsColor input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(to left, #fff832 0%,#32ff5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel .actionsColor input[type=range]::-ms-fill-upper {
    background: linear-gradient(to left, #fff832 0%,#32ff5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel .actionsColor input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(to left, #fff832 0%,#32ff5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }



  /*     VERTICAL    */

  .poll-panel #verticalIdIn {
    transform: rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg); 
    width: 600px;
    position: absolute;
    top: 367px;
    left: -297px;
    display: block;
    height: 10px
  }
  
  .poll-panel input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 84%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    border: 0px;
    float: left;
    padding: 0;
    
  }
  
  .poll-panel input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  .poll-panel input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  .poll-panel input[type=range]::-ms-track {
    height: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
  .poll-panel input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 0.5px #999 solid ;
    margin-top: -3.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for Firefox */
  .poll-panel input[type=range]::-moz-range-thumb {
    height: 36px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 0.5px #999 solid ;
    margin-top: -3.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for IE */
  .poll-panel input[type=range]::-ms-thumb {
    height: 36px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    border: 0.5px #999 solid ;
    margin-top: -3.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

  .poll-panel input[type=range]::-webkit-slider-runnable-track {
    width: 60vh;
    height: 30px;
    cursor: pointer;
    border: 0.5px #999 solid ;
    background: -webkit-linear-gradient(left, #fff832 0%,#ff3535 100%); /* Chrome10-25,Safari5.1-6 */
  }
  
  .poll-panel input[type=range]:focus::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, #fff831 0%,#ff3530 100%); /* Chrome10-25,Safari5.1-6 */
    border: 0.5px #999 solid ;
  }

  
  .poll-panel input[type=range]::-moz-range-track {
    width: 60vh;
    height: 30px;
    cursor: pointer;
    border: 0.5px #999 solid ;
    background: -moz-linear-gradient(left, #fff832 0%, #ff3535 100%); /* FF3.6-15 */
  }
  
  .poll-panel input[type=range]::-ms-track {
    width: 60vh;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
    border: 0.5px #999 solid ;
  }
  .poll-panel .form-left-divider input[type=range]::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, #32ff5e  0%,#fff832 50%, #ff3535 100%); /* Chrome10-25,Safari5.1-6 */
  }
  .poll-panel .form-left-divider input[type=range]:focus::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, #32ff5e  0%,#fff832 50%, #ff3535 100%); /* Chrome10-25,Safari5.1-6 */
  }
  .poll-panel .form-left-divider input[type=range]::-moz-range-track {
    background: -moz-linear-gradient(left, #32ff5e  0%,#fff832 50%, #ff3535 100%); /* FF3.6-15 */
  }
  .poll-panel .form-left-divider input[type=range]::-ms-fill-lower {
    background: linear-gradient(left, #32ff5e  0%,#fff832 50%, #ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel .form-left-divider input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(left, #32ff5e  0%,#fff832 50%, #ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel .form-left-divider input[type=range]::-ms-fill-upper {
    background: linear-gradient(left, #32ff5e  0%,#fff832 50%, #ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }
  .poll-panel .form-left-divider input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(left, #32ff5e  0%,#fff832 50%, #ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 */
  }  
  



@media (max-width: 1024px) {
    .poll-panel .form-wrapper {
        width: 768px;
        margin: 0 auto;
        height: 800px;
        display: block;
    }
}
@media (max-width: 768px) {
    .poll-panel .form-wrapper {
        width: 568px;
        margin: 0 auto;
        height: 800px;
        display: block;
    }
}

@media (max-width: 568px) {
    .poll-panel .form-wrapper {
        width: 320px;
        margin: 0 auto;
        height: 800px;
        display: block;
    }
}

.addButton {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(22, 252, 80);
    color: #fff;
    width: 10px;
    text-transform: uppercase;
}

.removeButton {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(238, 30, 30);
    color: #fff;
    text-transform: uppercase;
}

.editButton {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(36, 36, 36);
    color: #fff;
    text-transform: uppercase;
}

.h2Title {
    border: 0;
    font-size: 25px;
    font-weight: bold;
    color: #8a199e;
    width: 20%;
    margin-right: 80%;
}

.labelTitle {
    border: 0;
    font-size: 17px;
    font-weight: bold;
    color: #000;
    width: 50%;
    height: auto;
    margin: 5px;
}