@charset "UTF-8";

.table-container {
    width: 100%;
    margin: auto;

    border: 1px solid #ddd;
    border-radius: 5px;
}

table {
    width: 100%;

    border-collapse: collapse;

    table-layout: fixed;
}

td, th {
    padding: 10px;

    height: 20px;

    overflow: hidden;

    font-size: 16px;
    font-weight: 600;
    line-height: 0px;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;

    transition: all 1s ease-in-out;
}

th:not(:first-child), td:not(:first-child) {
    border-left: 1px solid #ddd;
}

td { 
    border-top: 1px solid #ddd; 
    font-weight: 300;
}

*:not(th).center { 
    display: block;
    margin: auto;
}

th.center { 
    margin: 0;
    text-align: center; 
}

tr { height: 40px; }


.table-placeholder {
    display: block;

    height: 250px;
    width: 100%;
}

.table-placeholder > p {
    display: block;
    
    margin: 110px auto;
    width: 100%;
    height: 30px;

    font-size: 20px;
    font-weight: 300;
    color: #555;

    text-align: center;
}